<a href="https://colab.research.google.com/github/Frankuwl214/ant-design/blob/master/MyPanda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np 
# Create a dictionary with student details 
student_details = {'Name':['Raj', 'Raj', 'Raj', 'Aravind', 'Aravind', 'Aravind',                             
 'John', 'John', 'John', 'Arjun', 'Arjun', 'Arjun'],  
                 
 'Subject':['Maths', 'Physics', 'Chemistry', 'Maths', 'Physics',                             
 'Chemistry', 'Maths', 'Physics', 'Chemistry', 'Maths',                                                           
 'Physics', 'Chemistry'],                   
 'Marks':[80, 90, 75, 60, 40, 60, 80, 55, 100, 90, 75, 70]  
   }
# Convert dictionary to a DataFrame
df = pd.DataFrame(student_details)
print(df)

In [ ]:
# Create a new column with Marks 
# ranked in descending order
df['Mark_Rank'] = df['Marks'].rank(ascending = 0)

In [ ]:
# Set index to newly created column 
df = df.set_index('Mark_Rank')
print(df)

In [ ]:
# Sort the DataFrame based on the index 
df = df.sort_index()
print(df)

In [ ]:
#To conclude; Here, the above printouts shows that Raj and Arjun both have 90 marks each and thus they are ranked 2.5 
#This is the average of 2nd and 3rd rank so they both share the two ranks. Here, we can see the same pathern for other marks in our tables.